{{ define "main" }}

<!--===================== Contact Start =====================--> 
<section class="contact bg-white section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">
        <div class="text-center pb-5">
          <h1 class="h2 mb-3">{{ i18n `contact_me` }}</h1>
          <p class="mb-2">{{ i18n `contact_intro` }}</p>
          <p class="text-muted mb-0">{{ i18n `contact_response_time` }}</p>
        </div>
        <div class="pb-4">
          {{ .Content }}
        </div>
        <form action="{{ site.Params.contact_form_action }}" method="post" {{ with .Params.form_name }}name="{{ . }}"{{ end }} {{ if site.Params.netlify }}data-netlify="true" netlify-honeypot="always-empty"{{ end }}>
          {{ with .Params.form_name }}<input type="hidden" name="form-name" value="{{ . }}">{{ end }}
          <div class="row g-4">
            <div class="col-12 mb-3 mt-0">
              <input type="text" class="form-control" placeholder="{{ i18n `your_name`}}" aria-label="{{ i18n `your_name`}}" name="name" required>
            </div>
            <div class="col-12 mb-3 mt-0">
              <input type="email" class="form-control" placeholder="{{ i18n `your_email`}}" aria-label="{{ i18n `your_email`}}" name="email" required>
            </div>
            <div class="col-12 mb-3 mt-0">
              <textarea rows="7" class="form-control mb-2" placeholder="{{ i18n `your_message`}}" aria-label="{{ i18n `your_message`}}" id="floatingTextarea" name="message" required></textarea>
            </div>
            <div hidden="true">
              <input type="text" class="form-control" placeholder="Don’t fill this out if you’re human:" name="always-empty">
            </div>
            <div class="col-12 mb-3 mt-0">
              <button type="submit" class="btn btn-primary btn-md">{{ i18n `submit`}}</button>
            </div>
          </div>
        </form>
        <div class="pt-4 text-center">
          {{ partial "widgets/social.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--===================== Contact End =====================--> 

{{ end }}
